@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik:wght@500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 55px;
    color: #cc0000;
    text-align: center;
    margin-top: 18px;
}

.container {
    border-radius: 5px;
    overflow: hidden;
    width: 900px;
    margin-left: 165px;
    margin-top: 25px;
}

.form {
    padding: 30px 10px;
}

.form-areas {
    padding-bottom: 15px;
    position: relative;
}

.form-areas label, #radio, #doencas {
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Nunito', sans-serif ;
    font-weight: 600;
}

.form-areas input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 800px;
}

.form-areas input:focus {
    outline: 0;
    border-color: #777;
}

.form-areas.sucess input {
    border-color: #2ecc71;
}

.form-areas.error input {
    border-color: #e74c3c;
}

select {
    width: 200px;
    height: 40px;
    margin-right: 112px;
}

.escolhas {
    display: inline-flex; 
}

#radio {
    margin-left: 300px;
    margin-top: 10px;
}

#radio1, #radio2 {
    margin-left: 240px;
    margin-top: 15px;
}

.continuar {
    width: 155px;
    height: 60px;
    margin-left: 1100px;
    background: #cc0000;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Nunito', sans-serif ;
}

.continuar:hover {
  background: #ec0000;
}