@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #cc2323;
}

.container .content-wrapper {
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
}

.container .content-wrapper .main-content {
  width: 75%;
  height: 530px;
  margin-top: 50px;
  padding: 10px 3%;
  border-radius: 20px;
  background: #fff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 1;
  border: 1px solid #fff;
}

.main-content .topnav {
  overflow: hidden;
  background-color: inherit;
  margin-bottom: 50px;
  margin-top: 15px;
}

.main-content .topnav a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  float: left;
  padding: 2px 16px;
  text-align: center;
}

.main-content .topnav .logo-brand {
  font-size: 28px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: #cc0000;
}

.main-content .topnav .logo {
  font-size: 28px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.main-content .topnav a:not(:first-child) {
  padding: 8px 20px;
  margin-right: 5px;
}

.main-content .topnav a:hover:not(:first-child) {
  background-color: #cc0000;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.main-content .topnav a.active {
  background-color: #cc0000;
  border-radius: 3px;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.main-content .topnav .first {
  margin-right: 24%;
}

.main-content .info {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.main-content .info .principal {
  height: 30vh;
  margin-top: -10px;
  margin-left: 70px;
  z-index: 2;
  color: #fff;
}

.main-content .info .principal .text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 30px;
  color: #cc0000;
}

.main-content .info .principal .text2 {
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 800;
  padding-right: 30px;
  margin-right: 550px;
}

.main-content .info .principal .text2 .red-color {
  color: #cc0000;
}

.main-content .info .principal .qualities {
  font-size: 18px;
  font-weight: 600;
  color: #413e3e;
  margin-bottom: 15px;
}

.main-content .info .principal .buttons-wrapper {
  margin-top: 30px;
  z-index: 1;
}

.main-content .info .principal .buttons-wrapper button {
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}

.main-content .info .principal .buttons-wrapper .red-button {
  background-color: #cc0000;
  color: white;
  border: 1px solid #cc0000;
  z-index: 1;
  font-weight: 600;
  transition: all 0.3s ease;
}

.main-content .info .principal .buttons-wrapper .transparent-button {
  background-color: inherit;
  border: 1px solid white;
  margin-left: 10px;
  color: white;
  z-index: 1;
  font-weight: 600;
  transition: all 0.3s ease;
}

.main-content .info .principal .buttons-wrapper .transparent-button:hover {
  background-color: #cc0000;
  color: white;
  border: 1px solid #cc0000;
  transition: all 0.3s ease;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.main-content .info .picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 3;
}

.main-content .info .picture .logo-pic {
  z-index: 5;
  height: 60vh;
  float: right;
  margin-right: 180px;
  margin-top: -20px;
}
