@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

#textos {
    text-align: center;
}

#textos h3 {
    font-size: 55px;
    color: #cc0000;
    margin-top: 22px;
}

#textos p {
    font-size: 18px;
    font-weight: 600;
    color: #413e3e;
    margin-bottom: 30px;
    margin-top: 10px;
}

.content {
    padding: 32px 0;
    max-width: 740px;
    margin: 0 auto;
}

.item-relato {
    background-color: #FFFFFF;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    margin-top: 15px;
}

.item-relato header {
    padding: 24px 12px;
    display: flex;
    align-items: center;
}

.item-relato header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.item-relato header div {
    margin-left: 2.4rem;
}

.item-relato header div strong {
    font: 700 25px Nunito;
    display: block;
    color: #cc0000;
}

.item-relato header div span {
    font-size: 20px;
    display: block;
    margin-top: .4rem;
}

.item-relato p {
    text-align: justify;
    margin-bottom: 10px;
}

.item-relato > p { /* Setinha para se referir ao primeiro p */
    padding: 12px;
    font-size: 18px;
}

.item-relato footer {
    padding: 28px 16px;
    background-color: #fafafc;
    border-top: 1px solid #E6E6F0;
    
    display: flex;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 150px;
}

footer .link-site {
    text-align: center;
    text-decoration: none;
    margin-left: 230px;
}

.form {
    padding: 30px 10px;
}

legend {
    font: bold 20px Nunito;
}

.form-areas {
    padding-bottom: 15px;
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
}

.form-areas label, #radio, #doencas {
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Nunito', sans-serif ;
    font-weight: 600;
}

.form-areas input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 800px;
}

.form-areas input:focus {
    outline: 0;
    border-color: #777;
}

.form-areas.sucess input {
    border-color: #2ecc71;
}

.form-areas.error input {
    border-color: #e74c3c;
}

#radio {
    margin-top: 20px;
    margin-left: 50px;
}

#radio1, #radio2 {
    margin-left: 30px;
    margin-top: 15px;
}

textarea {
    width: 1250px;
    height: 200px;
}

button {
    width: 155px;
    height: 60px;
    margin-left: 600px;
    background: #cc0000;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Nunito', sans-serif ;
}

button:hover {
  background: #ec0000;
}

